body{
    padding: 0;
    margin: 0;
}
.nav{
    color: white;
}
.navbar{
    padding: 1.5rem;
    background-color: #0072BC !important;
    transition: all 0.5s;
}
.navbar-brand{
    font-size: 1.5rem;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    z-index: -1;
}
.firstSection{
    background-image: url("../img/cross-bg.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.firstSection >div{
    position: absolute;
    /* float: left; */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.secondSection{
    /* background-image: url("../img/bg-4.png"); */
	background-size: cover;
	width: 100%;    
	background-repeat: no-repeat;
    padding: 0px 0 10px 0;
    padding: 5% 0px
}
.crossDiv{
    /* padding: 20px; */
    background-color: #0072BC;
    transform: skewY(-3deg);
}

.divInsideCrossDiv{
    padding: 50px 20px 50px 20px;
    /* color: inherit; */
    transform: skewY(3deg);
}

.programmingHeader{
    transform: skewY(0deg);
    color: white;
    font-family: BrandonGrotesqueWeb-Bold,Verdana,Arial,sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 5px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    font-size: 1rem;
}
.languageIconColour{
    color: black;
}
.thirdSection{
    background-image: url("../img/bg-3.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.fourthSection{
    background-image: url("../img/footer.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}



.thirdSection .left-image img {
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.thirdSection.right-text {
	display: inline;
}

.thirdSection em {
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
}

.thirdSection h4 {
	margin-top: 60px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.thirdSection p {
	color: #fff;
	margin-top: 15px;
}



